<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    Select file to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload File" name="submit">
</form>